html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;

 font-family:Tahoma;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
 display: block;
}

body {
 line-height: 1;
}

/*-------------Basic stuff-------------*/
* {
	box-sizing:border-box;
}

.yellow {
	color:hsl(40,100%,40%);
}

.green {
	color:hsl(120,100%,30%)
}

.blue {
	color:hsl(190,100%,40%)
}

.dark_blue {
	color:hsl(240,100%,50%)
}

.purple {
	color:hsl(300,100%,50%)
}

.dark-mode {
	background-color: transparant;
	color: white;
}

/*-------------Day streak-------------*/
.margin_right {
	margin-right:50px;
}

.day_streak_text {
	color:pink;
	font-weight:bold;
	margin-right:5px;
}

.cheat_day_text {
	color:hsl(240,80%,80%);
}

#day_streak_input {
	width:40px;
	margin-right:30px;
}

#cheat_day_input {
	width:30px;
}

#day_streak_table {
	text-align:left;
}

/*-------------Bar-------------*/
#Lbp-bar {
	overflow: scroll;
}

/*Right arrow*/
.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-right:20px;
  margin-left:15px;
}

/*Day*/
.day {
	text-align:center;
}

table {
	text-align:center;
}

/*-----Small rewards-----*/
.small-reward{
	min-width:80px;
	border:3px solid;
	border-radius:5px;
	padding:5px 5px;
}

/*-----Big rewards-----*/
.big-reward{
	min-width:80px;
	border:3px solid hsl(240,80%,50%);
	border-radius:5px;
	padding:5px 5px;
	background-color:hsla(240,80%,50%,0.5);
}

/*-----Ultimate rewards-----*/
.ult-reward{
	min-width:80px;
	border:3px solid hsl(60,100%,80%);
	border-radius:5px;
	padding:5px 5px;
	background-color:hsla(60,100%,80%,0.4);
}


#save {
	position:absolute;
}

#progress {
	text-align:center;
	margin-top:5px;
}

button {
	margin-left:5px;
	margin-right:5px;
}

/*-----Box-----*/
.box {
	min-width:80px;
	padding:5px 5px;
}

#arr {
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 5px;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	margin-right:23px;
	margin-left:15px;
}

/*-----Exp-bar-----*/
#exp-bar {
	/*width:3967px;*/
	width:98%;
	border: solid white;
	border-radius:25px;
	background-color: transparant;
	margin-left:42px;
}

#bar {
	width: 0%;
	height: 15px;
	border-radius:25px;
	background-color: green;
}
