html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;

 font-family:Tahoma;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
 display: block;
}

body {
	line-height: 1;
	transition: transform 0.8s ease-in-out;
}

/*-------------Basic stuff-------------*/
* {
	box-sizing:border-box;
}

.yellow {
	color:hsl(40,100%,40%);
}

.green {
	color:hsl(120,100%,30%)
}

.blue {
	color:hsl(190,100%,40%)
}

.dark_blue {
	color:hsl(240,100%,50%)
}

.purple {
	color:hsl(300,100%,50%)
}

.body_class {
	background-color: #181818;
	/*background-color: transparant;*/
	color: white;
	overflow: hidden;
}

/*-------------Day streak-------------*/
.margin_right {
	margin-right:50px;
}

.day_streak_text {
	color:pink;
	font-weight:bold;
	margin-right:5px;
}

.cheat_day_text {
	color:hsl(240,80%,80%);
}

#day_streak_input {
	width:40px;
	margin-right:30px;
}

#cheat_day_input {
	width:30px;
}

#skip_habit_input {
	width:40px;
}

#day_streak_table {
	text-align:left;
}

/*-------------Bar-------------*/
#Lbp-bar {
	overflow: scroll;
	margin-top: 35px;
}

/*Right arrow*/
.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-right:20px;
  margin-left:15px;
}

/*Day*/
.day {
	text-align:center;
}

table {
	text-align:center;
	/*table-layout: fixed;*/
	/*border-collapse: collapse;*/
}

/*-----Small rewards-----*/
.small-reward{
	min-width:100px;
	border:3px solid;
	border-radius:5px;
	padding:5px 5px;
}

/*-----Big rewards-----*/
.big-reward{
	min-width:150px;
	border:3px solid hsl(240,80%,50%);
	border-radius:5px;
	padding:5px 5px;
	background-color:hsla(240,80%,50%,0.5);
}

/*-----Ultimate rewards-----*/
.ult-reward{
	min-width:150px;
	border:3px solid hsl(60,100%,80%);
	border-radius:5px;
	padding:5px 5px;
	background-color:hsla(60,100%,80%,0.4);
}


#save {
	position:absolute;
}

#progress {
	text-align:center;
	margin-top:5px
}

button {
	margin-left:5px;
	margin-right:5px;
}

/*-----Box-----*/
.box {
	min-width:110px;
	padding:5px 5px;
}

#arr {
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 5px;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	margin-right:23px;
	margin-left:15px;
}

/*-----Exp-bar-----*/
#exp-bar {
	/*width:3967px;*/
	width:97.7%;
	border: solid white;
	border-radius:25px;
	background-color: transparant;
	margin-left:42px;
	margin-top: 10px;
}

#bar {
	width: 0%;
	height: 15px;
	border-radius:25px;
	background-color: green;
}

/*Style for random reward generator*/

.triangle-left {
	display: inline-block;
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-right: 10px solid black;
}

.triangle-right {
	display: inline-block;
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 10px solid black;
}


/*----------------------------------------------------------------*/
/*--------------Button to switch between battle pass and reward generator--------------*/
/*----------------------------------------------------------------*/
.switch_button {
	width: 60px;
	height: 60px;
	border: solid rgba(255, 255, 255, 0.732);
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	border-radius: 40%;
	cursor: pointer;
	user-select: none;
	transition: transform 0.8s ease-in-out;
}

.switch_button .switch_triangle {
	margin: 13px auto;
	width: 30px;
	height: 30px;
	background-color: rgba(255, 255, 255, 0.732);
	clip-path: polygon(50% 100%, 0 0, 100% 0);
}


/*----------------------------------------------------------------*/
/*--------------Styling for random reward generators--------------*/
/*----------------------------------------------------------------*/

.generator_container {
	position: relative;
	overflow: hidden;
	width: 250px;
	height: 25px
  }
  
.generator {
	position: absolute;
	top: 0;
    left: 0;
	width: 95%;
	height: 100%;
	transition: transform 0.8s ease-in-out;
}

.generator_align {
	margin: auto;
}

.rew_wheel_container {
	position: relative;
	width: 350px;
	height: 350px;
	overflow: hidden;
	margin: auto;
}

.rew_wheel {
	position: absolute;
	width: 250px;
	height: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 25px;
	transition: transform 0.8s ease-in-out;
}

.rew_wheel .spinBtn {
	position: absolute;
	width: 45px;
	height: 45px;
	background: #fff;
	border-radius: 50%;
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	color: #333;
	border: 4px solid rgba(0, 0, 0, 0.75);
}

.rew_wheel .spinBtn::before {
	content: "";
	position: absolute;
	width: 20px;
	height: 30px;
	background: #fff;
	clip-path: polygon(50% 0%, 10% 100%, 90% 100%);
	transform: rotate(-90deg) translateY(-25px);
}

.rew_wheel .wheel {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #333;
	overflow: hidden;
	border-radius: 50%;
	box-shadow: 0 0 0 5px #333, 0 0 0 12px #fff;
	transition: transform 4s ease-in-out;
}

.rew_wheel .wheel .number {
	position: absolute;
	width: 50%;
	height: 50%;
	background: var(--clr);
	transform-origin: bottom right;
	transform: rotate(calc(45deg * var(--i)));
	clip-path: polygon(0 0, 60% 0, 100% 100%, 0 60%);
	display: flex;
	justify-content: center;
	align-items: center;
}

.rew_wheel .wheel .number span {
	position: relative;
	transform: rotate(45deg);
	font-size: 3mm;
	font-weight: 700;
	color: #fff;
	width: 90px;
	margin-top: 15px;
	margin-left: 10px;
	text-align: center;
}